@*Define model*@
@model IEnumerable<Author>
@*Define ViewData*@
@{
	ViewData["Title"] = "List of Authors";
}
@*Code*@
<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">
			<thead>
				<tr class="text-center">
				<th>@Html.DisplayNameFor(model => model.ProfilePicture)</th>
				<th>@Html.DisplayNameFor(model => model.FullName)</th>
				<th>@Html.DisplayNameFor(model => model.Bio)</th>
		     <th>Actions</th>
			</tr>
			</thead>
			<tbody>
				@foreach (var author in Model)
				{
					<tr class="align-middle text-center">
						<td >
							<img class="rounded-circle" src="@author.ProfilePicture" alt="@author.FullName" style="max-width: 150px; max-height: 150px"/>
						</td>
						<td >
							@Html.DisplayFor(model => author.FullName)
						</td>
						<td >
						@Html.DisplayFor(model => author.Bio)

						</td>
						<td >
							<a class="btn btn-outline-primary" asp-controller="Authors" asp-action="Edit" asp-route-id="@author.Id"><i class="bi bi-pencil-square">Edit</i></a>
							<a class="btn btn-outline-info" asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id"><i class="bi bi-eye">Details</i></a>
							<a class="btn btn-outline-danger" asp-controller="Authors" asp-action="Delete" asp-route-id="@author.Id"><i class="bi bi-trash">Delete</i></a>
						</td>
					</tr>
				}

			</tbody>
			
		</table>
	</div>

</div>
@Html.Partial("_CreateItem", "Authors")

